@media only screen and (max-width: 600px){
    .Box{
        width:120%;
        margin-top:15%;
    }
    .listBox{
        font-family:bourgeois;
        padding:0.6%;
        font-size:24px;
        width:40%;
        margin-top:3%;
        margin-left:5%;
    } 
    .title{
        margin-top:23%;
        width:50%;
    }
}
@media only screen and (min-width:600px){
    .Box{
        position:relative;
        width:80%;
    }
    .title{
        margin-top:6%;
        width:30%;
    }
    .listBox{
        font-family:bourgeois;
        margin-left:8.5%; 
        margin-top:3%;
        width:14%;
        color:black;
        padding:0.6%;
    } 
}
.Box{
    padding:1%;
    display:inline-block;
    margin-left:9%;
    margin-top:1%;
    background-color: rgb(14,14,14);
    position:relative;
    border:3px solid white;
}
.title{
    display:flex;
    justify-content:center;
    background-color:rgb(253,191,23,255);
    color:black;
    font-size:24px;
}
.listBox{
    background-color:rgb(196,196,196);
    position:relative;
    font-family:bourgeois;
    color:black;
    border:3px solid rgb(208,189,141);
    font-size:24px;
    border-radius:0px;
}