@media only screen and (max-width: 600px){
  .Box{
      width:130%;
      margin-top:15%;
      padding:1%;
  }
  .listBox{
      font-family:bourgeois;
      padding:0.6%;
      font-size:24px;
      width:40%;
      margin-top:3%;
      margin-left:4%;
  } 
  .title{
      margin-top:23%;
      width:50%;        
  }
}
@media only screen and (min-width:600px){
  .Box{
      position:relative;
      aspect-ratio: 16/9;
  }
  .title{
      margin-top:8%;
      width:30%;        
  }
  .listBox{
      font-family:bourgeois;
      margin-left:7%; 
      margin-top:3%;
      width:17%;
      color:black;
      padding:0.6%;
      
  } 
}
.Box{
  display:inline-block;
  margin-left:5%;
  margin-top:1%;
  background-color: rgb(14,14,14);
  position:relative;
  border:3px solid white;
  
}
.title{
  display:flex;
  justify-content:center;
  background-color:rgb(253,191,23,255);
  color:black;
  font-size:24px;         
}
.listBox{
  background-color:rgb(196,196,196);
  position:relative;
  font-family:bourgeois;
  color:black;
  border:3px solid rgb(208,189,141);
  font-size:24px;
  border-radius:0px;
    
} 
.player-box{
  background-color:rgb(253,191,23);
  color:black;
  display:none;
  position:fixed;
  margin-top:3.71%;
  z-index:3;
  width:69%;
  height:28%;
  max-height:30%;
  margin-left:0.95%;
  padding-left:0.7%;
  padding-right:0.4%;
  padding-bottom:0.4%; 
  
}
.button{
    background-color:rgb(253,191,23,255);
    color:black;
    font-size:24px;
    border:0px;
    width:10%;
    margin:1%;
    position:relative;
}

.arrow{
    border:solid rgb(251,190,27);
    border-width:0 5px 5px 0;
    display:inline-block;
    padding:3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 2px, rgba(240, 46, 170, 0.3) 3px 3px, rgba(240, 46, 170, 0.2) 2px 3px, rgba(240, 46, 170, 0.1) 4px 3px, rgba(240, 46, 170, 0.05) 2px 3px;
    float:right;
    margin-top:6%;  
}

  .dropdown-box {
    background-color:rgb(253,191,23);
    color:black;
    display:none;
    font-size:24px;
    position:fixed;
    z-index:2;
    margin-top:0.9%;
    width: 30%; 
    padding-top:0px;
    border:3px solid rgb(196,196,196);
    padding-right:1%;
    padding-bottom:0.7%;

  }
  
.active{
    pointer-events: none;
    background-color: white;
    border:2px solid rgb(253,191,23,255);
}
.disabled {
    pointer-events: none;
    box-shadow: none;
    background-color: #999;
    border:2px solid rgb(253,191,23,255);
  }
