.highlight {
    background-color:black;
    color:white
 }
 /* For mobile phones: */
.gameElement{
    float:left;
    
}
@media only screen and (min-width: 600px) {
    .desktopElement{
        flex-wrap: wrap;
        margin-left:30%
    }
}
@media only screen and (max-width: 600px) {
    .popup{
        font-size:22px !important;
        width:80%;
    }
}