
.logo{
    
    position:absolute;
     width:5%;
    height:90%; 
    
}

.inlinetab{ 
    height: 2%;
    position: relative;
    margin-left:4.5%;
    font-style:bold;
    color:#fff !important;
    background-color:black;
    border-left:3px solid #fff;
    float:left;
    margin-top:0.3%;
    height:fit-content;
}
.fonts{
    font-size:30px;
    font-family:bourgeois;
    width:73%;
    float:left;
}