.image{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo{
    margin:0px;
    position:fixed;
    z-index: 2;
    max-width: 100px;
    max-height: 100px;
}

.tab{ 
z-index:2;
position:fixed !important;
margin-left:33%;
width:80%;
margin-top:2%
}
.inlinetab{ 
    
    height: 15%;
    position: relative;
    width: fit-content;
    block-size: fit-content;
    display: inline-block;
    margin-left:3%;
    font-style:bold;
    color:#fff;
    

}
button{
    font-size:30px;
    font-family: "bourgeois";
    font-style:"bold";
    color:#fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
