.logo{
    
    position:fixed;
    
}

.inlinetab{ 
    height: 2%;
    position: relative;
    margin-left:4%;
    font-style:bold;
    color:#fff !important;
    background-color:black;
    border-left:3px solid #fff;
    float:left;
    margin-top:0.3%;
    height:fit-content;
    font-size:123%;
}
.fonts{
    
    font-family:bourgeois;
    width:73%;
    float:left;
}